body {
  background: #245953 ;
  font-family: 'Prompt', sans-serif;
  color: white;
}


/* background-color */
.bg-g
{
  background-color: rgba(128, 128, 128, 0.685);
}

/* /background-color */

/* font-color */
.fc-p
{
  color: #E6A5AD;
  
}
/* font-color */

/* hero */
.hero-section
{
  background-image: url(Pictures/breastcancerhero.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-width: 50%;

}

/* hero */

/* section */

/* /section */

/* Image */
.portrait
{
  border-radius: 50%;
  height: 2in;
  width: 2in;
  padding: 4px;
  margin-right: 1%;
}
.portrait:hover
{
  box-shadow: 0px -1px 173px 19px rgba(175,34,30,0.3);
  -webkit-box-shadow: 0px -1px 173px 19px rgba(175,34,30,0.3);
  -moz-box-shadow: 0px -1px 173px 19px rgba(175,34,30,0.3);
}

/* /Image */

/* list style */
.navbar-c
{
  flex: 0;
}


ul li a
{
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  
  font-weight: 600;
  font-size: 20px;
}

ul li a:hover

{
  color: rgb(149, 152, 155);
  -webkit-tap-highlight-color: transparent;
  transition: .5s;
}


/* /list style */

.d-1
{
  box-sizing: border-box;
  border: 0 solid;
  height: 50px;
  width:auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 5px 0px 0px black;
}
/* padding */
.padding-1
{
  padding-top: 5%;
  margin-right: 1%;
}

.padding-2
{
  padding-top: 2.5%;
  margin-right: 1%;
}

.padding-3
{
  padding-top: 15px;
}

.padding-4
{
  padding-top: 12px;
}

.paddingB-1
{
  padding-bottom: .5%;
}

.paddingT-1
{
  padding-top: 1%;
}

/* padding */

/* Position */

.lp
{
  position: fixed;
  margin-bottom: 1%;
}



/* /Position */

/* text-align */
.midp
{
  text-align: center;
}


/* text-align */

/* box*/
.b-1
{
  border: 0 solid;
  background-color: auto ;
  color: auto;  
}

.border
{
  box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 50%;
}


.border:hover
{
  box-shadow: 1px 2px 28px 6px rgba(255,255,255,0.46) inset;
  -webkit-box-shadow: 1px 2px 28px 6px rgba(255,255,255,0.46) inset;
  -moz-box-shadow: 1px 2px 28px 6px rgba(255,255,255,0.46) inset;
}

/* box */


/* display style */
.display-1
{
  display: inline;
}

.display-2
{
  display: flex
}

.df
{
  flex: 1;
}

/* display style */

/*fontstyles*/
.f-1
{
  color: black;
  font-weight: 400;
}
.justify
{
  text-align: justify;
}
.p-1
{
  box-sizing: border-box;
  font-size: small;
  font-weight: 100;
  height: auto;
  width: auto;
  color: rgba(0, 0, 0, 0.753);
}

.fs-1
{
  font-size: large ;
}
h4
{
  font-weight: 400;

}


.ts-2
{
  text-shadow: 4px -5px 2px rgba(15,163,221,1);
}


/* fontstyles */

/* margin */
.marginL-1
{
  margin-left: 1%;
}

.marginL-2
{
  margin-left: 2%;
}

.marginT-0
{
  margin-top: 0%;
}
.marginT-1
{
  margin-top: 1%;
}

.marginT-2
{
  margin-top: 2%;
}

.marginT-3
{
  margin-top: 3%;
}
.marginT-5
{
  margin-top: 5%;
}
.marginB-0
{
  margin-bottom: 0%;
}
/* margin */

/* color */

.bg-1
{
  background-color: #245953;
}

.bg-2
{
  background-color: #d8d8d8;
}

.fc-p2
{
  color: #E49393;
}

.fc-p1
{
  color: #245953;
}
/* color */